<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>

  <table border="1">
      <thead>
      <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Description</th>
          <th>Discount</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each = "product: ${products}">
          <td th:text="${product.getProductName()}"/>
          <td th:text="${product.getProductPrice()}"/>
          <td th:text="${product.getProductInfo()}"/>
          <td th:text="${product.getPossibleDiscount()}"/>
          <td><a th:href="@{/editProduct/{id}(id=${product.id})}">Update</a></td>
          <td><a th:href="@{/deleteProduct/{id}(id=${product.id})}">Delete</a></td>
      </tr>
      </tbody>
  </table>
  <br>
      <form action="/" method="post">
            <button type="submit" >Home</button>
      </form>
  <br>
    <!--    Simple approach  -->
      <a href="http://localhost:8080/"><button>Home2</button></a>
</body>
</html>