<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Update Product</title>
  </head>
  <body>
    <h1>Update Product</h1>
    <!--Mapping and binding the object's id with ModelMap -->>
    <form th:action="@{/updateProduct/{id}(id=${product.id})}" th:object="${product}" method="post">
        Product Name <input type="text" th:name="productName">
        Price <input type="number" th:name="productPrice"> <br>
        <br>
        Product Info <textarea th:name="productInfo" rows="2" cols="20"></textarea><br>
        Possible discount? <input type="number" th:name="possibleDiscount">
        <input type="submit">
    </form>
  </body>
</html>