<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Producers</title>
</head>
  <body>
  <h1>Register Producer</h1>
  <form th:action="@{/insertProducer}" method="post">
    Name <input type="text" th:name="ProName"><br>
    <br>
    Last Name <input type="text" th:name="ProLName"><br>
    <br>
    Address <input type="text" th:name="address"><br>
    <br>
    County <input type="text" th:name="county"><br>
    <br>
    Email <input type="text" th:name="email"><br>
    <br>
    IBAN <input type="text" th:name="iban"><br>
    <br>
    Business <input type="text" th:name="business"><br>
    <br>
    <input type="submit">
  </form>
  </body>
</html>