<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to Home Page</h2> <br>
    <form action="/sendToProduct" method="post">
        <button type="submit">Add Product</button>
    </form>
    <br>
    <form action="/sendToCustomer" method="post">
        <button type="submit">Add customer</button>
    </form>
    <br>
    <form action="/sendToOrder" method="post">
        <button type="submit">Add Order</button>
    </form>
    <br>
    <form action="/sendToProducer" method="post">
        <button type="submit">Add Producer</button>
    </form>
    <br>
    <h1>Lists</h1>
    <form action="/sendToCustomerList" method="post">
        <button type="submit">Customer List</button>
    </form>
    <br>
    <form action="/sendToProductList" method="post">
        <button type="submit">Product List</button>
    </form>
    <br>
    <form action="/sendToOrderList" method="post">
        <button type="submit">Order List</button>
    </form>
    <br>
    <form action="/sendToProducerList" method="post">
        <button type="submit">Producer List</button>
    </form>

</body>
</html>