<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>

  <table border="1">
      <thead>
      <tr>
          <th>Product Name</th>
          <th>Product Price</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each = "product: ${products}">
          <td th:text="${product.getProductName()}"/>
          <td th:text="${product.getProductPrice()}"/>
          <td th:text="${product.getProductInfo()}"/>
          <td th:text="${product.getPossibleDiscount()}"/>
      </tr>
      </tbody>
  </table>
</body>
</html>